.container {
    width: 300px;
    margin: 100px auto;
    text-align: center;
}

h2 {
    margin-bottom: 20px;
}

#pinInput {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
}

button {
    padding: 10px 20px;
    cursor: pointer;
}

#result {
    margin-top: 20px;
    font-weight: bold;
}

#comicsImage {
    width: 200%;  /* 2x the original width */
    height: auto; /* maintain aspect ratio */
    margin-top: 20px;
    transform: scale(2); /* scale the image 2 times */
    transform-origin: top left; /* set the scaling point */
}

